<div layout="column">
  <h3><strong>Executives</strong></h3>
  <p>
    At the end of each year, a new executive team is elected. Each member of this team is vital in the ongoing success of the Society in providing a safe, comfortable environment for its members to bond over soccer. 
  </p>
  <p>
    <strong>President</strong>
    : Nicholas Lucas
  </p>
  <p>
    <strong>Vice President (Internal)</strong>
    : Debanjan Acharjee
    In his role as Vice President (Internal), Debanjan works on ensuring the smooth sailing of the Society and all its events and marketing efforts.
  </p>
  <p>
    <strong>Vice President (External)</strong>
    : Elena Bonello
    In her role as Vice President (External), Elena works on liaising with external organisations, such as organising volunteering opportunities for members, as well as providing opportunities for organisations which may have a potential stakehold in the society.
  </p>
  <p>
    <strong>Arc Delegate</strong>
    : Aaron Choy
  </p>
  <p>
    <strong>Treasurer</strong>
    : Andrew Ye
  </p>
  <p>
    <strong>Secretary</strong>
    : Mary Hajiangeli
  </p>
  <p>
    <strong>Marketing Director</strong>
    : Sophie Clift
  </p>
  <p>
    <strong>Events Director</strong>
    : Jules Stas
  </p>

</div>