  <h4 class="center-align"><b>Life Membership</b></h4>
  <p>
    Being a student run club, everything we do and achieve is due to our hard working volunteers. We in the UNSW Social Soccer Society would like to recognise those individuals who have made an extraordinary contribution to the development of the club by awarding them Life Memberships. 
  </p>
  <p>
    Life membership is the ultimate award this Club can bestow on a person and is given not for just years of membership, but for loyal and dedicated service. The efforts of some members towards improving the organisation of this Club have been acknowledged below.
  </p>
  <p>
    <b>2012</b>
    <ol>
      <li>
        George Zu (Founder, President- 2011,2012)
      </li>
      <li>
        Jack (Shaobo) Wang 
      </li>
      <li>
        Khai Tan
      </li>
      <li>
        Khalil Candevra  
      </li>
    </ol>
    <b>2013</b>
    <ol>
      <li>
        David Ly
      </li>
      <li>
        Ian Lu
      </li>
      <li>
        Nicholas Grasevski
      </li>
    </ol>
    <b>2014</b>
    <ol>
      <li>
        Christopher Chan (President- 2013)
      </li>
      <li>
        Alex Eremenko
      </li>
      <li>
        Thomas Burke
      </li>
    </ol>
    <b>2015</b>
    <ol>
      <li>
        Nicholas Lucas (President-2014, 2015)
      </li>
      <li>
        Aaron Choy
      </li>
      <li>
        Elena Bonello 
      </li>
      <li>
        Debanjan Acharjee
      </li>
    </ol>
  </p>