<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body ng-app="unswsociApp" layout="column" layout-align="start center">

    <!-- Add your site or application content here -->
    <section id="header" layout="row" layout-align="center end">
      <img class="logo logo-header" src="images/header-logo.jpg">
      <div class="header-media-container" layout="row">
        <div class="media-icon">
          <a href="http://twitter.com/unswsoc3" target="_blank">
            <i ng-class="'fa fa-twitter-square fa-2x fa-fw'"></i>
          </a>
        </div>
        <div class="media-icon">
          <a href="http://instagram.com/unswsocialsoccer" target="_blank">
            <i ng-class="'fa fa-facebook-square fa-2x fa-fw'"></i>
          </a>
        </div>
        <div class="media-icon">
          <a href="http://www.facebook.com/unswsocialsoccer" target="_blank">
            <i ng-class="'fa fa-instagram fa-2x fa-fw'"></i>
          </a>
        </div>
      </div>
    </section>

    <section id="primary-nav" layout="row" layout-align="center">
      <div class="nav" layout="row">
        <div class="nav-item"
          ng-repeat="item in ['home', 'about us', 'events', 'contact us', 'online store']">
          <span class="nav-item-text"
            ui-sref="root.{{item}}"
            layout="row"
            layout-align="center center">
            {{item | uppercase}}
          </span>
          <!-- sub tabs for home -->
          <div class="nav-dropdown" ng-if="$index === 0">
            <div class="nav-item"
              ng-repeat="item in ['details', 'scores', 'draw', 'wet weather', 'applications']">
              <span class="nav-item-text"
                ui-sref="home.{{item}}"
                layout="row"
                layout-align="center center">
                {{item | uppercase}}
              </span>
            </div>
          </div>
          <!-- sub tabs for about us -->
          <div class="nav-dropdown" ng-if="$index === 1">
            <div class="nav-item"
              ng-repeat="item in ['vision', 'history', 'executives']">
              <span class="nav-item-text"
                ui-sref="about us.{{item}}"
                layout="row"
                layout-align="center center">
                {{item | uppercase}}
              </span>
            </div>
            <!-- home fields and sub sub tabs for home fields -->
            <div class="nav-item">
              <span class="nav-item-text"
                ui-sref="root.home fields"
                layout="row"
                layout-align="center center">
                {{'home fields' | uppercase}}
              </span>
              <div class="nav-dropdown nav-dropdown-right">
                <div class="nav-item"
                  ng-repeat="item in ['village green', 'asb', 'david phillips']">
                  <span class="nav-item-text"
                    ui-sref="about us.home fields.{{item}}"
                    layout="row"
                    layout-align="center center">
                    {{item | uppercase}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- sub tabs for events -->
          <div class="nav-dropdown" ng-if="$index === 2">
            <div class="nav-item"
              ng-repeat="item in ['calendar']">
              <span class="nav-item-text"
                ui-sref="events.{{item}}"
                layout="row"
                layout-align="center center">
                {{item | uppercase}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="main-content" layout="row" layout-align="space-between">
      <!-- main content -->
      <md-whiteframe class="md-whiteframe-z3" flex="70" ui-view>
        <!-- content based on route -->
      </md-whiteframe>
      <!-- sponsorship content -->
      <md-whiteframe class="md-whiteframe-z3" flex layout="column" layout-align="start center">
        <h3><strong>Sponsors</strong></h3>
        <img class="logo" src="images/sponsors/arc.jpg">
      </md-whiteframe>
    </section>

    <section id="footer" layout="column">
      <div layout="row">
        <div class="box white" flex></div>
        <div class="box yellow" flex></div>
        <div class="box blue" flex></div>
      </div>
      <br>
      <div layout="row" layout-align="space-around start">
        <div flex layout="row" layout-align="center">
          <p><strong>UNSW Social Soccer Society</strong></p>
        </div>
        <div flex layout="column" layout-align="center center">
          <p><strong>Follow us</strong></p>
          <div layout="row">
            <div class="media-icon">
              <a href="http://twitter.com/unswsoc3" target="_blank">
                <i ng-class="'fa fa-twitter-square fa-2x fa-fw'"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="http://instagram.com/unswsocialsoccer" target="_blank">
                <i ng-class="'fa fa-facebook-square fa-2x fa-fw'"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="http://www.facebook.com/unswsocialsoccer" target="_blank">
                <i ng-class="'fa fa-instagram fa-2x fa-fw'"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--      <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
 -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
