<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SOC&#179;</title>
    <meta name="description" content="Welcome to the official Social Soccer Society site of UNSW">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="unswsociApp">
    <header class="container">
      <div class="row no-margin">
        <img class="logo-header col s12" src="images/header-logo.jpg">
        <div class="col s12">
          <nav class="amber">
            <!-- about us dropdown -->
            <ul id='aboutUsDropdown' class='dropdown-content indigo darken-4'>
              <li ng-repeat="item in ['vision', 'history', 'executives', 'home fields', 'life membership']">
                <a class="grey-text" ui-sref="about us.{{item}}">{{item | uppercase}}</a>
              </li>
            </ul>
            <!-- sidenav for mobile view -->
            <ul id='side-nav' class='side-nav amber'>
              <li><a ui-sref="root.home">HOME</a></li>
              <ul class="collapsible collapsible-accordion">
                <li class="amber">
                  <a class="collapsible-header">ABOUT US<i class="mdi-navigation-arrow-drop-down"></i></a>
                  <div class="collapsible-body indigo darken-4">
                    <ul>
                      <li ng-repeat="item in ['vision', 'history', 'executives', 'home fields', 'life membership']">
                        <a class="grey-text" ui-sref="about us.{{item}}">{{item | uppercase}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <li><a ui-sref="root.events">EVENTS</a></li>
              <li><a ui-sref="root.contact us">CONTACT US</a></li>
              <li><a ui-sref="root.the comp">THE COMP</a></li>
            </ul>
            <div class="nav-wrapper">
              <!-- hamburger for mobile view -->
              <a href="#"
                class="button-collapse"
                data-activates="side-nav"
                data-sidenav="left"
                data-closeonclick="true">
                <i class="mdi-navigation-menu"></i>
              </a>
              <!-- social media icons -->
              <div class="brand-logo right media-icon">
                <a href="http://www.facebook.com/unswsocialsoccer" target="_blank">
                  <img src="images/social/fb.png">
                </a>
                <a href="http://twitter.com/unswsoc3" target="_blank">
                  <img src="images/social/twitter.png">
                </a>
                <a href="http://instagram.com/unswsocialsoccer" target="_blank">
                  <img src="images/social/instagram.png">
                </a>
              </div>
              <!-- root nav items -->
              <ul class="left hide-on-med-and-down">
                <!-- home -->
                <li><a class="grey-text text-darken-2" ui-sref="root.home">HOME</a></li>
                <!-- about us dropdown trigger -->
                <li>
                  <a class="dropdown-button grey-text text-darken-2"
                    ui-sref="root.about us"
                    dropdown
                    data-activates="aboutUsDropdown"
                    data-beloworigin="true"
                    data-hover="true">
                    ABOUT US<i class="material-icons right">arrow_drop_down</i>
                  </a>
                </li>
                <!-- events -->
                <li><a class="grey-text text-darken-2" ui-sref="root.events">EVENTS</a></li>
                <!-- contact us -->
                <li><a class="grey-text text-darken-2" ui-sref="root.contact us">CONTACT US</a></li>
                <!-- the comp -->
                <li><a class="grey-text text-darken-2" ui-sref="root.the comp">THE COMP</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main class="container grey lighten-2">
      <div class="row no-margin">
        <!-- main content -->
        <div class="col s12 l9">
          <div class="card-panel z-depth-0 grey lighten-2" ui-view>
          </div>
          <!-- content based on route -->
        </div>
        <!-- sponsorship content -->
        <div class="col l3 hide-on-med-and-down">
          <div class="card-panel z-depth-2 grey">
            <h4 class="center-align"><strong>Sponsors</strong></h4>
            <img class="responsive-img" src="images/sponsors/arc.jpg">
          </div>
        </div>
      </div>
    </main>
    <footer class="container page-footer no-margin indigo darken-4">
      <div class="container">
        <div class="row no-margin">
          <div class="col l6 s12">
            <h5 class="white-text">UNSW Social Soccer Society</h5>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Follow Us</h5>
            <div class="media-icon">
              <a href="http://www.facebook.com/unswsocialsoccer" target="_blank">
                <img src="images/social/fb.png">
              </a>
              <a href="http://twitter.com/unswsoc3" target="_blank">
                <img src="images/social/twitter.png">
              </a>
              <a href="http://instagram.com/unswsocialsoccer" target="_blank">
                <img src="images/social/instagram.png">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2015 UNSW Social Soccer Society
        </div>
      </div>
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
<!--         <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
 -->        <!-- endbuild -->
</body>
</html>
