  <h4 class="center-align"><b>Events</b></h4>
  <b>UNSW vs USyd Derby</b>
  <p>
    The big one. There is much more than pride at stake here, (actually there is a full blown engraved trophy). Once a year UNSW Social Soccer will square off against our sister society over at Usyd to see which team will hold onto the both the cup and bragging rights.<br>
    Due to the sheer interest in numbers for the game, players sometimes undergo a trialling process before their names are penned on the team sheet.<br>
    This is not for the faint hearted or the less committed.<br>
    Both teams are required to have a minimum of two girls on the field all the time so ladies please don't feel shy to register! With a rapidly growing crowds and fanfare, this event without a doubt is our jewel in the crown.
  </p>
  <b>11v11 Games</b>
  <p>
    These games are designed for those who seek a slightly more competitive environment but all the while are keen to socialize. Games are held on full field venues such as centennial park or david phillips ovals where members from within the society will square off against each other.<br>
    Matches are also sometimes held against other societies on campus to help us to vary our opposition and to connect to one and another. These games often run first in first served basis, so if you see an event running, sign up quick!
  </p>
  <b>Indoor Tournaments</b>
  <p>
    Typically held over one afternoon Indoor competitions will pit teams against one and other in a bid to see which team will reign supreme with their control and sublime passing. The round robin event guarantees a quick tempo environment where all teams will play one and other before the final. Tournaments are organized not only from students within our own society, but also in partnership with other societies from uni.<br>
    Winners are awarded medals for their successful tournament campaigns.
  </p>
  <b>Pink Sports Day</b>
  <p>
    Once a year the society works towards showing solidarity to breast cancer awareness by fundraising for Breast Cancer Association Australia. Baked goods and and merchandise are sold to help raise money, however that doesn’t mean donations aren’t welcome!<br>
    A pink-themed football game is also held to help draw awareness and differentiate it from all the social games that are held throughout the year.
  </p>
