@import "../variables.scss";
#header {
  //background-color: red;
}
#footer {
  background-color: $blue;
  color: white;
}
#primary-nav {
  //background-color: yellow;
}
#main-content {
  background-color: silver;
}