@import "../variables.scss";
.logo {
  width: 100%;
}
.logo-header {
  height: 200px;
}
.nav {
  $nav-height: 50px;
  //$nav-width: 800px;
  height: $nav-height;
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  background-color: $yellow;
  .nav-item {
    //border: 1px red solid;
    height: $nav-height;
    //width: $nav-width / 5;
    width: 100%;
    z-index: 1000;
    &:hover {
      background-color: $blue;
      color: white;
      transition: background-color 0.5s, color 0.5s;
      box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.2) inset;
    }
    &:hover > .nav-dropdown {
      //border: 2px white solid;
      display: block;
    }
    border-radius: 5px;
  }
  .nav-item-text {
    height: $nav-height;
    //background-color: silver;
  }
  .nav-dropdown {
    z-index: 1000;
    background-color: $blue;
    //background-color: #144496;
    display: none;
    border-radius: 5px;
    //border: 2px purple solid
  }
  .nav-dropdown-right {
    position: relative;
    top: -$nav-height;
    left: 100%;
  }
}
.box {
  border-style: solid;
  border-color: gray;
  border-width: 0 0 2px 0;
  height: 10px;
}
.yellow {
  background-color: $yellow;
}
.white{
  background-color: white;
}
.blue {
  background-color: $blue;
}
.media-icon {
  a:link, a:visited, a:hover, a:active {
    color: white;
  }
  i {
    color: $yellow;
    &:hover {
      color: $blue;
    }
  }
}
.header-media-container {
  // position: absolute;
  // right: 0;
  // bottom: 0;
  z-index: 1000;
}