@import "../variables.scss";
.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.list-reset {
  ul {
    list-style: disc inside;
    li {
      list-style: disc inside;
    }
  }
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
}
.logo {
  width: 100%;
}
.logo-header {
  height: 200px;
}
.logo-map {
  width: 500px;
}
.box {
  border-style: solid;
  border-color: gray;
  border-width: 0 0 2px 0;
  height: 10px;
}
.yellow {
  background-color: $yellow;
}
.white{
  background-color: white;
}
.blue {
  background-color: $blue;
}
.media-icon {
  // width: 35px;
  // height: 35px;
  // margin: 0 0.1em;
  // float: left;
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  img {
    width: 30px;
    height: 30px;
    // transition: all 0.3s;
    // &:hover {
    //   width: 35px;
    //   height: 35px;
    // }
  }
}
.map-link {
  width: 100%;
}
.header-media-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0.1em 0.1em;
}